POSTGRES_USER=modelink
POSTGRES_PASSWORD=modelink123
POSTGRES_DB=modelink3d

# Gere com: openssl rand -hex 32
SECRET_KEY=changeme-use-openssl-rand-hex-32

FIRST_ADMIN_EMAIL=admin@modelink.local
FIRST_ADMIN_PASSWORD=admin123

NEXT_PUBLIC_API_URL=http://localhost:8000
